#slide-container {
    width: 100vw;
    height: 100vh;
    background: none;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    display: none;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
}

.slides {
    width: 80%;
    height: 80%;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 6px 20px 2px rgba(120, 162, 210, 0.734)
}

div.slides > div {
    display: none;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
}

div.slide:first-of-type{
    display: flex;
}

img#prev{
    transform: rotate(180deg);
}

#prev, #next, #close{
    width: 50px;
    height: 50px;
    background:none;
    border:none;
}

div.slides > ul > li{
    list-style: none;
}

div.slides > ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-end;
}

#imgslide1{
    width:50%;
    height: 50%;
}

 #imgslide2 {
    width:30%;
    height: 30%;
}
